    <form action="/job/{{job['id']}}/apply", method="post"> 
        <div class="pb-4">
        <div>
            <label>Full Name</label>
            <input type="text" name="full_name", required placeholder="Rajnish Pandey" class="form-control">
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email", required placeholder="rajnish@pandey.com" class="form-control">
        </div>
        <div>
            <lable>Linkedin</lable>
            <input type="url" name="linkedin", required placeholder="https://in.linkedin.com/in/rajnishspandey" class="form-control">
        </div>
        <div>
            <label>Education</label>
            <input type="text" name="education", placeholder="Engineering" class="form-control">
        </div>
        <div>
            <label>Work Experience</label>
            <input type="textarea" name="work_experience", placeholder="Work Experience" class="form-control">
        </div>
        <div>
            <label>Resume Link</label>
            <input type="url" name="resume_url", placeholder="resume_url" class="form-control">
        </div>
    </div>    
    <button type="Submit" class="btn btn-success float-right">Submit</button>
    </form>