    <form action="/job/{{job['id']}}/apply", method="post"> 
        <div class="pb-4">
        <div>
            <label>Full Name</label>
            <input type="text" name="full_name", placeholder="Rajnish Pandey" class="form-control">
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email", placeholder="rajnish@pandey.com" class="form-control">
        </div>
        <div>
            <lable>Linkedin</lable>
            <input type="text" name="linkedin", placeholder="https://in.linkedin.com/in/rajnishspandey" class="form-control">
        </div>
    </div>    
    <button type="Submit" class="btn btn-success float-right">Submit</button>
    </form>